.card-container .pokemon {
    transition: 0.4s ease-in;
}

.card-container:hover .pokemon {
    transform: rotateX(-180deg);
    cursor: pointer;
    transition: 1s ease-in-out;
    transition-delay: .1s;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.back {
    transform: rotateX(180deg);
}

